<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1036009123604-e6iqe1vst9ufb8thno7jmb76crqg6c6c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036009123604-e6iqe1vst9ufb8thno7jmb76crqg6c6c</string>
	<key>API_KEY</key>
	<string>AIzaSyBw2MEdvp-mj3GrHF7VGP9vNtz4W1aLd2k</string>
	<key>GCM_SENDER_ID</key>
	<string>1036009123604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yefimchukv.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-f63cb</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-f63cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036009123604:ios:fc47e68e4513513f57dc01</string>
</dict>
</plist>